@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #1BA0F2;
    --sec-color: #CE2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 50px;
}

.cabecera {
    width: 100%;
    padding: 20px 50px;
    background: var(--sec-color);
    color: #fff;
    font-family: 'Karla', sans-serif;
}
/*Factura*/
.factura,
.editar-factura {
    position: relative;
    width: 100%;
    height: 100%;
}

.factura h2,
.editar-factura h2 {
    margin: 20px 0 5px 0;
    color: var(--main-color);
}

.factura form,
.editar-factura form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.factura form label,
.editar-factura form label {
    margin: 15px 0 5px 0;
}

.factura form label::after,
.editar-factura form label::after {
    content: "*";
    margin-left: 5px;
    color: var(--sec-color);
}

.factura form input,
.factura form select,
.editar-factura form input,
.editar-factura form select {
    height: 35px;
    width: 40%;
    padding: 5px;
}

.factura form button,
.editar-factura form button {
    height: 35px;
    width: 40%;
    padding: 5px;
    margin: 15px 0 5px 0;
    cursor: pointer;
    border: 2px solid var(--main-color);
    font-weight: 500;
    font-size: 16px;
    transition: .2s;
}

.factura form button:hover,
.editar-factura form button:hover {
    background: var(--main-color);
    color: #fff;
}

.factura form a {
    width: 150px;
    padding: 15px;
    margin: 15px 0 5px 0;
    cursor: pointer;
    background: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
/*Ver facturas*/
.ver-factura {
    display: none;
}

.ver-factura.active {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
}

.ver-factura.active .atras {
    position: absolute;
    top: 5px;
    left: 50px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background: var(--main-color);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.ver-factura.active table {
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.ver-factura.active table th {
    padding: 10px;
    border-bottom: 1px solid var(--main-color);
}

.ver-factura.active table td {
    padding: 6px;
    border-bottom: 1px solid #cecece;
}

.ver-factura.active table a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.ver-factura.active table a.eliminar {
    background: #ce0808;
}

.ver-factura.active table a.editar {
    background: #0563df;
}
/*Pie*/
.pie {
    width: 100%;
    margin-top: 30px;
    padding: 20px 50px;
    border-top: 2px solid var(--sec-color);
    font-family: 'Karla', sans-serif;
}